@import url(../App.css);

.box-suggestions {
    margin: auto;
    position: relative;
    max-width: 1500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    margin-top: 100px;
}

.box-suggestions h1 {
    color: var(--color-text);
    margin-bottom: 32px;
}

.form-suggestions label {
    font-size: 14px;
}

.form-suggestions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
}

.input-suggestions,
.button-suggestions {
    border-radius: 24px;
    padding: 20px 25px;
    width: 220px;
    height: 65px;
    border: none;
    background-color: var(--color-grey);
    width: 100%;
    font-size: 16px;
    outline: none;
}

.input-suggestions-date {
    border-radius: 24px;
    padding: 0px 25px;
    width: 220px;
    border: none;
    background-color: var(--color-grey);
    width: 100%;
    font-size: 16px;
    outline: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.label-date {
    font-size: 16px !important;
    width: auto;
    white-space: nowrap;
}

.input-date {
    font-size: 16px;
    height: 65px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.textarea-suggestions {
    border-radius: 24px;
    padding: 20px 25px;
    height: 120px;
    border: none;
    background-color: var(--color-grey);
    width: 100%;
    resize: none;
    outline: none;
    font-size: 16px;
}

.button-suggestions {
    background-color: var(--color-principal-opacy);
    color: var(--color-text);
    transition: 0.3s ease;
    outline: none;
}

.content-suggestions {
    width: 100%;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.content-suggestions2 {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.overlay-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 188, 188, 0.212);
    z-index: 1;
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: white;
    width: 50%;
    padding: 32px;
    border-radius: 20px;
}

.modal-button {
    border-radius: 24px;
    padding: 20px 25px;
    width: 220px;
    border: none;
    width: 30%;
    font-size: 16px;
    outline: none;
    background-color: var(--color-principal-opacy);
    color: var(--color-text);
    margin-top: 32px;
    transition: 0.3s ease;
}


.modal-button:hover,
.button-suggestions:hover {
    background-color: var(--color-text);
    color: var(--color-principal-opacy);
}

.box-input-suggestions {
    width: 100%;
}

.description-type {
    font-size: 14px;
    line-height: 20px;
}

.description-type strong {
    font-weight: 600;
}

@media (max-width: 770px) {
    .modal-content {
        width: 90%;
        max-height: 70%;
        overflow-y: auto;
    }

    .box-suggestions {
        padding: 0px 16px;
        margin-bottom: 32px;
    }

    .box-suggestions h1 {
        line-height: 56px;
        margin-bottom: 24px;
        font-size: 28px;
    }

    .content-suggestions {
        flex-direction: column;
    }

    .modal-content h1 {
        line-height: 32px;
        font-size: 24px;
    }

    .form-suggestions {
        width: 100%;
    }

    .modal-button {
        width: 100%;
    }
}