@import url(../App.css);

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #f0f2f1c7;
  backdrop-filter: blur(10px);
  transition: 0.3s ease-in-out;
}

.navbar-logo,
.navbar-logo-resposive {
  width: 100px;
  height: 60px;
}

.navbar-logo-resposive {
  display: none;
}

.logotipo-taximonterrico {
  width: 100px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 0px;
}

.navbar-links a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: var(--color-principal);
}

.navbar-buttons,
.navbar-buttons-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0px;
}

.navbar-buttons-responsive {
  display: none;
  padding: 0px;
}

.navbar-buttons-responsive a {
  font-size: 24px;
}

.intranet-button {
  color: var(--color-text);
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
}

.intranet-button-resposive {
  color: var(--color-text);
  transition: 0.3s ease;
}

.intranet-button-resposive:hover {
  transform: scale(1.1);
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--color-principal);
  border: 2px solid var(--color-principal-dark);
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--color-principal-opacy);
}

.intranet-button {
  background-color: var(--color-body);
  padding: 10px 25px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.intranet-button:hover {
  background-color: white;
}

/* Menú hamburguesa */
.hamburger-menu {
  display: none; /* Oculto en pantallas grandes */
  cursor: pointer;
  z-index: 1001;
  transition: 0.3s ease;
}

/* Nueva clase para el menú desplegable */
.navbar-links-responsive {
  display: none;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: var(--color-grey);
  width: 100%;
  padding: 16px 0;
  border-radius: 0px 0px 16px 16px;
  text-align: center;
}

.navbar-links-responsive li a{
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none;
}

.menu-open {
  display: none; /* Muestra el menú cuando está activo */
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {

  .menu-open {
    display: flex; /* Muestra el menú cuando está activo */
  }

  .navbar-logo {
    display: none;
  }

  .navbar-logo-resposive {
    display: block;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-links {
    display: none; /* Oculta enlaces en pantallas pequeñas */
  }

  .hamburger-menu {
    display: block; /* Muestra menú hamburguesa en pantallas pequeñas */
  }

  .navbar-buttons {
    display: none; /* Oculta botones en pantallas pequeñas */
  }

  .navbar-buttons-responsive {
    display: block;
  }
}
