@import url(../App.css);

.section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto;
    margin-bottom: 64px;
}

.section-container {
    max-width: 400px;
}

.image-section {
    width: 32px;
}

